#contactform{
    width: 250px;
}

#contactform input{
    margin:10px;
}
#show-contact {
    display: none;
  }
  
  .contact {
    cursor: pointer;
    color: #b400ccea;
  }
  
  .contact:hover {
    text-decoration: underline;
  }  